In [7]:
import sqlite3
import pandas as pd

# Veritabanı bağlantısı
conn = sqlite3.connect('test.db')

# Tabloları oku
features_df = pd.read_sql_query("SELECT * FROM feature_list", conn)
cycles_df = pd.read_sql_query("SELECT * FROM cycles", conn)
feature_values_df = pd.read_sql_query("SELECT * FROM feature_values", conn)

# Tabloları görüntüle
print("Features Tablosu:")
display(features_df)

print("\nCycles Tablosu:")
display(cycles_df)

print("\nFeature Values Tablosu:")
display(feature_values_df)

# Bağlantıyı kapat
conn.close()

Features Tablosu:

      id                             feature_name
0      1                           Pressure1_mean
1      2                           Pressure2_mean
2      3                           Pressure3_mean
3      4                           Pressure4_mean
4      5                            Pressure1_std
..   ...                                      ...
115  116  Temp4_cooling_rate_after_first_localmax
116  117          Temp1_derivative_of_temp_rising
117  118          Temp2_derivative_of_temp_rising
118  119          Temp3_derivative_of_temp_rising
119  120          Temp4_derivative_of_temp_rising

[120 rows x 2 columns]

Cycles Tablosu:

       id  cycle_date
0    3286  2025-01-16
1    3287  2025-01-16
2    3288  2025-01-16
3    3289  2025-01-16
4    3290  2025-01-16
..    ...         ...
108  3394  2025-01-16
109  3395  2025-01-16
110  3396  2025-01-16
111  3397  2025-01-16
112  3398  2025-01-16

[113 rows x 2 columns]

Feature Values Tablosu:

          id  cycle_id  feature_id feature_value
0          1      3286           1     31.936284
1          2      3286           2    112.339387
2          3      3286           3     15.309747
3          4      3286           4      4.537984
4          5      3286           5     42.742338
...      ...       ...         ...           ...
13555  13556      3398         116     -0.000009
13556  13557      3398         117      0.022331
13557  13558      3398         118      0.030838
13558  13559      3398         119       0.02622
13559  13560      3398         120      0.030663

[13560 rows x 4 columns]